@charset "UTF-8";



/* ================= */
/* = Browser reset = */
/* ================= */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}body{line-height:1.5;}table{border-collapse:separate;border-spacing:0;}caption,th,td{text-align:left;font-weight:400;}table,td,th{vertical-align:middle;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}a img{border:none;}



/* ========== */
/* = Global = */
/* ========== */

body {
	font: normal normal normal 1em/1em "Lucida Grande",Lucida,Helvetica,Arial,sans-serif;
	background: white;
	color: black;
	cursor: default;
}

.ContentPage, .IndexPage, .FramedMenuPage {
	background-color: #444;
}

.FramedContentPage, .FramedIndexPage, .FramedSearchResultsPage, .PopupSearchResultsPage {
	background-color: white;
}

a {
	outline: none;
}

a:link, a:visited {
	color: #5680C3;
	text-decoration: none;
	font-weight: bold;
	text-decoration: underline;
}

td {
	vertical-align: top;
	padding: 0 1em 1em 0 !important;
}



/* ======== */
/* = Menu = */
/* ======== */

#Menu {
	font-size: .55em;
	width: 230px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: .5em 0 0;
}

.MGroup {
	margin: .5em 1em;
	padding: .7em 0em;
	border: 1px #555 solid;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
}

.MGroup > a:after {
	content: ' ›';
}

.MEntry a:link, .MEntry a:hover, .MEntry a:visited {
	color: #aaa;
	text-decoration: none;
	padding: 0 .8em;
	text-shadow: #353535 1px 1px 1px;
	display: block;
}

.MGroup > a:hover {
	background: none !important;
}

.MEntry a:hover, .MEntry a:active {
	color: white;
	margin: 0 .8em 0 0;
	padding: 0 .8em;
	background: #383838;
	text-shadow: #181818 1px 1px 1px;
	-moz-border-radius: 1em;
	-webkit-border-radius: .9em;
}

.MFile, .MText, .MLink, .MIndex {
	padding: 0 0 0 1.2em;
	color: white;
}

#MSelected {
	color: black;
	background-color: white;
	font-weight: bold;
	padding: 0 1.2em;
	margin: 0 .8em 0 .8em;
	-moz-border-radius: 1em;
	-webkit-border-radius: .9em;
	-webkit-box-shadow: #222 0 3px 5px;
}



/* ================ */
/* = Search field = */
/* ================ */

#MSearchPanel {
	display: none;
}

#MSearchType {
	visibility: hidden;
}

#MSearchResultsWindow {
	display: none;
}



/* ========= */
/* = Index = */
/* ========= */

#Index {
	margin-left: 230px;
	background: white;
	padding-bottom: 2em;
	-moz-border-radius: 0 0 0 1em;
	-webkit-border-bottom-left-radius: 1em;
}

.IndexPage #Index,
.FramedIndexPage #Index,
.FramedSearchResultsPage #Index {
	padding: 15px;
}

.IndexPage #Index {
	padding-bottom: 3em;
}

.IPageTitle {
	background: #314C74;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 2.5em;
	font-style: italic;
	font-variant: small-caps;
	color: white;
	padding: .7em .5em;
	margin: -15px -15px 0 -15px;
	text-shadow: #1A3550 1px 1px 3px;
}

.INavigationBar {
	font-size: .6em;
	text-align: center;
	background-color: #7095B6;
	color: #142F49;
	padding: 5px;
	border-bottom: 1px #4C6983 solid;
	margin: 0 -15px 15px -15px;
	text-shadow: #92B7DD 1px 1px 0;
}

.INavigationBar a {
	background: #B1DBFF;
	color: black;
	padding: .3em .6em;
	text-decoration: none;
	text-shadow: none;
	font-weight: bold;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	-webkit-box-shadow: #4C6983 0 2px 4px;
}

.INavigationBar a:hover, .INavigationBar a:active {
	background: white;
}

.IHeading {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 1.5em;
	padding: 2.5em 0 .5em 0;
	text-align: center;
	width: 2em;
}

#IFirstHeading {
	padding-top: .5em;
}

.IEntry {
	font-size: .7em;
	padding-left: 1em;
}

.ISubIndex {
	padding-left: 3em;
	padding-bottom: 1em;
}

.ISymbol {
	font-weight: bold;
	color: #5680C3;
}

a.IParent, a.IFile {
	display: block;
}

a.IFile {
	font-weight: normal;
	text-decoration: none;
	font-size: .9em;
}

a.IFile:before {
	content: '› ';
}


/* =========== */
/* = Content = */
/* =========== */

#Content {
	padding-bottom: 2em;
	-moz-border-radius: 0 0 0 1em;
	-webkit-border-bottom-left-radius: 1em;
}

.ContentPage #Content {
	background-color: white;
	font-size: .7em;
	margin-left: 230px;
	padding: 2em;
}

.CClass, .CGroup, .CConstant, .CTopic, .CFunction, .CTitle, .CInterface, .CDatabase, .CDatabaseTable, .CSection, .CHeading, .CDescriptionList {
	width: 820px;
}

.CBody {
	background: #eee;
	padding: .6em;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
}

.CTopic {
	margin-bottom: 3em;
}

.CTitle {
	font-family: "Panic Sans", Monaco, "Lucida Console", "Courier New", Courier, monospace;
	font-weight: bold;
	font-style: italic;
	font-size: 13px;
	margin: .3em 0 .3em;
}

.CGroup .CTitle {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
	font-size: 2em;
	font-weight: normal;
	border-top: 2px #ddd dotted;
	padding: 1.4em 0 0;
	color: #B35A5E;
}

#MainTopic .CTitle {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
	font-size: 3.2em;
	font-style: italic;
	font-weight: normal;
	margin: .3em 0 1em;
}




/* =========== */
/* = Summary = */
/* =========== */

.Summary {
	background: white;
	margin-top: 1em;
	padding: 0 1em;
}

.Summary table {
	width: 100%;
}

.SBorder {
	padding: 0 0 1.2em 0;
}

.STitle {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 1.7em;
	font-style: italic;
	margin-bottom: .5em;
	padding: .5em 0 .5em;
	border-bottom: 1px #bbb dotted;
}

.SMain .SEntry a,
.SClass .SEntry a,
.SDatabase .SEntry a,
.SDatabaseTable .SEntry a,
.SSection .SEntry a {
	color: #000000;
}

.SEntry {
	width: 30%;
	padding-left: .8em;
}

.SDescription {
	width: 70%;
	color: #888;
}

.SIndent1 .SEntry {
	padding-left: 2em;
}

.SIndent1 .SEntry a {
	color: #B35A5E;
}

.SIndent1 .SDescription {
	padding-left: 2em;
}

.SIndent2 .SEntry {
	padding-left: 4em;
}

.SIndent2 .SDescription {
	padding-left: 4em;
}

.SIndent3 .SEntry {
	padding-left: 6em;
}

.SIndent3 .SDescription {
	padding-left: 6em;
}

.SIndent4 .SEntry {
	padding-left: 8em;
}

.SIndent4 .SDescription {
	padding-left: 8em;
}
.SIndent5 .SEntry {
	padding-left: 10em;
}

.SIndent5 .SDescription {
	padding-left: 10em;
}

.SGroup td {
	padding-top: .5em;
	padding-bottom: .25em;
}



/* ======== */
/* = Data = */
/* ======== */

.CHeading {
	font-size: 1.2em;
	font-weight: bold;
	padding: 1.5em 0 0;
}

.CBody p {
	color: #666;
	padding: 1em 0 0;
}

.CBody pre {
	font-family: "Panic Sans", Monaco, "Lucida Console", "Courier New", Courier, monospace;
	font-size: 11px;
	font-style: italic;
	margin: 1em;
	color: #666;
}

.CBody ul {
	padding-left: 3em;
	padding-right: 3em;
	margin: 1em 0 2em;
	color: #666;
}

.CBody blockquote {
	padding: .1em;
	background: #fff;
}

.CBody table.STable,
.CBody table.CDescriptionList {
	width: 100%;
}

.CBody b {
	color: #111;
	display: block;
	margin-top: 1em;
	margin-bottom: -.5em;
	padding-top: .2em;
	font-size: 9px;
	text-transform: uppercase;
}

.CBody b:after {
	content: "\2002\2193";
}

.CDescriptionList {
	background: white;
	margin: .5em 0 0;
	padding: 1.2em 1.2em .4em;
}

.CDLEntry {
	font-family: "Panic Sans", Monaco, "Lucida Console", "Courier New", Courier, monospace;
	font-size: 11px;
	padding: 1em;
	white-space: nowrap;
}

.CDLDescription {
	font-size: 11px;
	padding: 1em;
	color: #888;
}

.CTopic img {
	text-align: center;
	display: block;
	margin: 1em auto;
	border: 1px red solid;
}

.CImageCaption {
	font-variant: small-caps;
	font-size: 8pt;
	color: #808080;
	text-align: center;
	position: relative;
	top: 1em;
	border: 1px red solid;
}

.CImageLink {
	color: #808080;
	font-style: italic;
	border: 1px red solid;
}

a.CImageLink:link, a.CImageLink:visited, a.CImageLink:hover {
	color: #808080;
	border: 1px red solid;
}

.Prototype {
	font-family: "Panic Sans", Monaco, "Lucida Console", "Courier New", Courier, monospace;
	font-style: normal;
	margin: 1em;
	font-size: 11px;
}

.Prototype td, .Prototype th, .Prototype tr {
	padding: 0;
}

.PDefaultValue, .PDefaultValuePrefix, .PTypePrefix {
	color: #8F8F8F;
}

.PTypePrefix {
	text-align: right;
	border: 1px red solid;
}

.IE .Prototype table {
	padding: 0;
}

.CClass .Prototype {
	border-color: #A0A0A0;
}

.CInterface .Prototype {
	border-width: 1px 2px 2px 1px;
	border-style: solid;
	border-color: #A0A0D0;
}

.CDatabaseIndex .Prototype,
.CConstant .Prototype {
	border-color: #000000
}

.CType .Prototype,
.CEnumeration .Prototype {
	border-color: #E0B0B0;
}

.CDatabaseTrigger .Prototype,
.CEvent .Prototype,
.CDelegate .Prototype {
	border-color: #B8E4B8
}

.PParameter {
	color: #0976C6;
	font-weight: bold;
}

.PType {
	color: #63BE00;
}

.CDescriptionList td {
	padding: 0 2em 0 0;
}
	
	

/* =================== */
/* = Class hierarchy = */
/* =================== */

.ClassHierarchy {
	margin: 0 0 1em;
}

.CHEntry {
	padding: .2em .8em;
	margin: 0 .2em .2em 0;
	background: #222;
	color: white;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
}

.CHCurrent .CHEntry {
	background-color: #B35A5E;
}

.CHChildNote .CHEntry {
	border: 1px red solid;
}

.CHIndent {
	margin-left: 2em;
}

.CHEntry a:link, .CHEntry a:visited, .CHEntry a:hover {
	color: white;
}



/* =========== */
/* = Tooltip = */
/* =========== */

.CToolTip {
	position: absolute;
	visibility: hidden;
	left: 0;
	top: 0;
	max-width: 400px;
	background-color: white;
	border: 1px #bbb solid;
	color: black;
	font-size: .7em;
	padding: .5em;
	filter:alpha(opacity=90);
	opacity: 0.9;
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	-moz-border-radius: .6em;
	-webkit-border-radius: .6em;
	-webkit-box-shadow: #bbb 0 4px 16px;
}

.CToolTip .Prototype {
	white-space: nowrap;
}



/* ========== */
/* = Footer = */
/* ========== */

#Footer {
	font-size: .6em;
	color: white;
	text-align: right;
	padding: .6em 1em;
}

#Footer a:link, #Footer a:visited {
	color: #989898;
	text-decoration: none;
	text-shadow: #222 1px 1px 2px;
}

#Footer a:hover, #Footer a:active {
	color: white;
}

#Footer a:after {
	content: ', style by Václav Vančura (vaclav.vancura.org)';
}



/* ========= */
/* = Print = */
/* ========= */

@media print {
	
	blockquote {
		overflow: visible;
	}
	
	.IE blockquote {
		width: auto;
	}

}
